*{padding: 0%;
margin: 0%;
box-sizing: border-box;
font-family: poppins, sans-serif;
background-color: darkgrey;}

.topbar{position: fixed;
    display: flex;
background-color: grey;
justify-content:space-evenly;
align-items: center; text-align: center;
height: 50px;
width: 100%;
}
.logo{font-size: 20px;
color: #002e96;
font-style: italic;
}
.table1{margin:80px; border: 1px solid #002e96; margin-left: auto;
margin-right: auto;}

.milk{display: flex;
      height: 70%;
      width: 80%;
    justify-items:center: space-between;
    align-items: center;
    margin-left: 100px
}

 .table1 th, td {border-collapse: collapse; border: 1px solid #002e96;}

 .month
 .month th, td {border-collapse: collapse;  border: 0.1px solid #002e96; height: 60px;width: 500px;}

 .month{background-image: url(styles/dairy3.jpg);}

 .text{text-align: center;background-color: #002e96;box-sizing: border-box; color: #002e96;}